@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://i.pinimg.com/736x/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
